
* {
	
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
	background-color: rgb(150, 216, 249);
}



h1{
	margin: 60px;
	font-size: 60px;
	color: rgb(0, 119, 255);
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-align: left;
}

h2{
	margin: 60px;
	font-size: 50px;
	color: rgb(76, 92, 79);
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-align: left;
}
p{
	margin: 60px;
	font-size: 30px;
	color: rgb(76, 92, 79);
    font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	text-align: left;
}
a{
	color: blanchedalmond;
    font-family: 'Poppins';
    text-decoration: none;
}
.container{
	margin: 60px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 30px;
	flex: 80%
}
.footer{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: end;
	gap: 15px;
	flex: 10%;
	background-color: rgb(0, 119, 255);
}

.header{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: top;
	gap: 15px;
	flex: 10%;
	background-color:  rgb(0, 119, 255);
}


.item1,  .item2,  .item3,  .item4{
	max-height: 500px;
	max-width: auto;
	display: flex;
	justify-content: center;
	box-shadow: 10px 10px 2px rgb(0, 119, 255);
}

nav{
	margin: 10px;
	font-size: 25px;
	text-align: center;
	color: white;
}

.item1:hover{
	transform: perspective(1200px) rotateY(-25deg) translate(50px,0px) scale(1.2);

}
.item2:hover{
	opacity:0.5;
}

.item3:hover{
	opacity:0.5;
}

.item4:hover{
	opacity:0.5;
}

